<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Winesphere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/Highlight-Blue.css">
    <link rel="stylesheet" href="/assets/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/styles.css">

</head>
<%= yield %>
</html>
